* {
    box-sizing: border-box;
}

:root {
    --main-font: "Public Sans", sans-serif;
    --sub-font: "Poppins", sans-serif;
    --primary-color-1st: #152427;
    --primary-color-2nd: #143c3c;
    --text-color-btn: #fff;
    --desc-color: #7d8188;
    --desc-weight: 500;
    --title-color: #152427;
    --title-weight: 600;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: var(--main-font);
}

input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}

/* Common */
a {
    text-decoration: none;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    --height: 57px;
    display: inline-block;
    padding: 0 20px;
    min-width: 173px;
    height: var(--height);
    line-height: var(--height);
    border-radius: 40px;
    border: 1.5px solid #143c3c;
    color: var(--text-color-btn);
    background: var(--primary-color-2nd);
    text-align: center;
    font-size: 1.8rem;
    font-weight: 500;
    transition: 0.25s;
}

.btn:hover {
    opacity: 0.8;
    cursor: pointer;
}

/*^^^^^^^ ======Header====== ^^^^^^^*/
.header {
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 28px 0 13px;
    background-color: #fff;
}

.header__top {
    display: flex;
    align-items: center;
}

.header__top::before {
    position: absolute;
    bottom: 1px;
    width: 1140px;
    content: "";
    height: 1px;
    background: linear-gradient(
        90deg,
        #fff 0%,
        #dddcdc 51.09%,
        rgba(212, 212, 212, 0) 99.68%
    );
}

.nav {
    margin-left: auto;
}

.nav__list {
    display: flex;
}

.nav__item {
    position: relative;
    transition: 0.25s;
}

.nav__link {
    display: inline-block;
    padding: 4px 19px;
    color: #575d5e;
    font-size: 1.8rem;
    font-weight: 500;
}

.nav__link--active,
.nav__link:hover {
    color: #152427;
}

.nav__link.nav__link--active::after {
    position: absolute;
    content: "";
    left: 19px;
    bottom: -28px;
    display: inline-block;
    background: #143c3c;
    width: 16px;
    height: 2px;
}

.header__cta {
    margin-left: 69px;
}

/*^^^^^^^ ======Hero====== ^^^^^^^*/
.hero {
    position: relative;
    margin-top: 60px;
    padding: 0 0 165px;
}

.hero__body {
    display: flex;
}

.hero__content {
    width: 35%;
}

.hero__heading {
    margin-top: 50px;
    max-width: 368px;
    color: var(--primary-color-1st);
    font-family: var(--main-font);
    font-size: 5rem;
    font-style: normal;
    font-weight: 800;
    line-height: 1.2;
}

.hero__desc {
    margin-top: 20px;
    color: #575d5e;
    font-family: var(--main-font);
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.56;
}

.hero__row {
    margin-top: 42px;
    display: flex;
    align-items: center;
}

.hero__video-play {
    display: flex;
    align-items: center;
    margin-left: 36px;
}

.hero__video-play:hover {
    opacity: 0.9;
}

.hero__video-play:hover > .hero__play-btn--watch {
    color: var(--primary-color-2nd);
}

.hero__play-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #83a17d;
    width: 44px;
    height: 44px;
    margin-right: 15px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.hero__play-btn::before {
    position: absolute;
    display: inline-block;
    content: "";
    width: 52px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 50%;
    background: transparent;
    border: 4px solid #143c3c;
    border-right-color: transparent;
    border-bottom-color: transparent;
    transform: rotate(-45deg);
}

.hero__video-play:hover > .hero__play-btn {
    background: var(--primary-color-1st);
}

.hero__video-play:hover > .hero__play-btn::before {
    border: 4px solid #83a17d;
    border-right-color: transparent;
    border-bottom-color: transparent;
    transform: rotate(135deg);
    transition: 0.5s;
}

.hero__play-btn--watch {
    color: #152427;
    font-family: var(--sub-font);
    font-size: 1.8rem;
    font-weight: 600;
    cursor: pointer;
}

.hero__media {
    position: relative;
    width: 60%;
    margin-left: 76px;
    flex-grow: 1;
}

.hero__media--bg {
    z-index: -1;
    position: absolute;
    top: 122px;
    left: 203px;
    width: 340px;
    height: 340px;
    border-radius: 50%;
    background-color: #4dbb9a;
    filter: blur(137px);
}

.hero__images {
    display: flex;
    gap: 20px;
    object-fit: cover;
    width: 202px;
    height: 466px;
    border-radius: 110px;
}

.hero__img:nth-child(2) {
    translate: 0 77px;
}

.hero__icon {
    position: absolute;
    left: -207px;
    top: -32px;
}

.hero__icon:last-child {
    top: 242px;
    left: 53px;
    rotate: 180deg;
}

/*^^^^^^^ ======Brand====== ^^^^^^^*/
.brand {
    margin-top: 42px;
    font-family: var(--main-font);
}

.brand__inner {
    padding: 76px 121px;
    border-radius: 100.5px;
    background: #e2eddf;
}

.brand__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand__item {
    display: flex;
    align-items: center;
    transition: 0.25s;
}

.brand__item:hover {
    scale: 1.1;
}

.brand__link--google {
    color: #143c3c;
    font-size: 3.1rem;
    font-weight: 500;
}

.brand__link--slack {
    margin-left: 5px;
    color: #143c3c;
    font-size: 3.2rem;
    font-weight: 600;
}

.brand__link--agworld {
    margin-left: 11px;
    color: #163c35;
    font-size: 2.6rem;
    font-weight: 400;
}

.brand__link--rioTinto {
    color: #143c3c;
    font-family: "Sonsie One";
    font-size: 2.3rem;
}

.brand__link--heroku {
    margin-left: 14px;
    color: #143c3c;
    font-size: 1.9rem;
    font-weight: 600;
    letter-spacing: 1.995px;
}

/*^^^^^^^ ======Services====== ^^^^^^^*/
.services {
    margin-top: 106px;
}

.service__sub {
    margin-left: 53px;
    position: relative;
    color: var(--primary-color-1st);
    font-family: var(--sub-font);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.63;
}

.service__sub::before {
    position: absolute;
    top: 9px;
    left: -52px;
    content: "";
    display: inline-block;
    width: 25px;
    height: 1px;
    background: var(--primary-color-1st);
}

.service__row {
    display: flex;
    justify-content: space-between;
}

.service__heading {
    margin-top: 20px;
    position: relative;
    max-width: 520px;
    color: var(--primary-color-1st);
    font-family: var(--sub-font);
    font-size: 4.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.24;
}

.service__heading::after {
    position: absolute;
    top: 80px;
    left: 359px;
    content: "";
    display: inline-block;
    width: 66px;
    height: 2px;
    background: var(--primary-color-1st);
}

.service__control {
    display: flex;
    gap: 17px;
    align-items: flex-end;
    margin: 0 73px 9px 0;
}

.control__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background: #e2eddf;
    transition: 0.25s;
}

.control__btn:hover {
    background: #143c3c;
    color: #fff;
}

.service__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    margin-top: 76px;
}

.service-item__img {
    height: 318px;
    cursor: pointer;
    display: block;
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.service-item__info {
    padding: 24px 0;
    transition: 0.25s;
    border-radius: 0 0 20px 20px;
}

.service-item__heading {
    color: #152427;
    font-size: 2.2rem;
    font-weight: 600;
}

.service-item__desc {
    margin-top: 18px;
    max-width: 268px;
    color: var(--desc-color);
    font-family: Poppins;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.71;
}

.service-item:hover .service-item__info {
    padding-left: 18px;
    background: #fff;
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
    transition: 0.25s;
}
