* {
    box-sizing: border-box;
}

:root {
    --main-font: "Public Sans", sans-serif;
    --sub-font: "Poppins", sans-serif;
    --primary-color-1st: #152427;
    --primary-color-2nd: #143c3c;
    --text-color-btn: #fff;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: var(--main-font);
}

input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}

/* Common */
a {
    text-decoration: none;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    --height: 57px;
    display: inline-block;
    padding: 0 20px;
    min-width: 173px;
    height: var(--height);
    line-height: var(--height);
    border-radius: 40px;
    border: 1.5px solid var(--primary-color-2nd);
    color: var(--text-color-btn);
    background: var(--primary-color-2nd);
    text-align: center;
    font-size: 1.8rem;
    font-weight: 500;
    transition: 0.25s;
}

.btn:hover {
    opacity: 0.8;
    cursor: pointer;
}

/*^^^^^^^ ======Header====== ^^^^^^^*/
.header {
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 28px 0 13px;
    background-color: #fff;
}

.header__top {
    display: flex;
    align-items: center;
}

.header__top::before {
    position: absolute;
    bottom: 1px;
    width: 1140px;
    content: "";
    height: 1px;
    background: linear-gradient(
        90deg,
        #fff 0%,
        #dddcdc 51.09%,
        rgba(212, 212, 212, 0) 99.68%
    );
}

.nav {
    margin-left: auto;
}

.nav__list {
    display: flex;
}

.nav__item {
    position: relative;
    transition: 0.25s;
}

.nav__link {
    display: inline-block;
    padding: 4px 19px;
    color: #575d5e;
    font-size: 1.8rem;
    font-weight: 500;
}

.nav__link--active,
.nav__link:hover {
    color: var(--primary-color-1st);
}

.nav__link.nav__link--active::after {
    position: absolute;
    content: "";
    left: 19px;
    bottom: -28px;
    display: inline-block;
    background: var(--primary-color-2nd);
    width: 16px;
    height: 2px;
}

.header__cta {
    margin-left: 69px;
}

/*^^^^^^^ ======Hero====== ^^^^^^^*/
.hero {
    position: relative;
    margin-top: 60px;
    padding: 0 0 165px;
}

.hero__body {
    display: flex;
}

.hero__content {
    width: 35%;
}

.hero__heading {
    margin-top: 50px;
    max-width: 368px;
    color: var(--primary-color-1st);
    font-family: var(--main-font);
    font-size: 5rem;
    font-style: normal;
    font-weight: 800;
    line-height: 1.2;
}

.hero__desc {
    margin-top: 20px;
    color: #575d5e;
    font-family: var(--main-font);
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.56;
}

.hero__row {
    margin-top: 42px;
    display: flex;
    align-items: center;
}

.hero__video-play {
    display: flex;
    align-items: center;
    margin-left: 36px;
}

.hero__video-play:hover {
    opacity: 0.9;
}

.hero__video-play:hover > .hero__play-btn--watch {
    color: var(--primary-color-2nd);
}

.hero__play-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #83a17d;
    width: 44px;
    height: 44px;
    margin-right: 15px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.hero__play-btn::before {
    position: absolute;
    display: inline-block;
    content: "";
    width: 52px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 50%;
    background: transparent;
    border: 4px solid var(--primary-color-2nd);
    border-right-color: transparent;
    border-bottom-color: transparent;
    transform: rotate(-45deg);
}

.hero__video-play:hover > .hero__play-btn {
    background: var(--primary-color-1st);
}

.hero__video-play:hover > .hero__play-btn::before {
    border: 4px solid #83a17d;
    border-right-color: transparent;
    border-bottom-color: transparent;
    transform: rotate(135deg);
    transition: 0.5s;
}

.hero__play-btn--watch {
    color: var(--primary-color-1st);
    font-family: var(--sub-font);
    font-size: 1.8rem;
    font-weight: 600;
    cursor: pointer;
}

.hero__media {
    position: relative;
    width: 60%;
    margin-left: 76px;
    flex-grow: 1;
}

.hero__media--bg {
    z-index: -1;
    position: absolute;
    top: 122px;
    left: 203px;
    width: 340px;
    height: 340px;
    border-radius: 50%;
    background-color: #4dbb9a;
    filter: blur(137px);
}

.hero__images {
    display: flex;
    gap: 20px;
    object-fit: cover;
    width: 202px;
    height: 466px;
    border-radius: 110px;
}

.hero__img:nth-child(2) {
    translate: 0 77px;
}

.hero__icon {
    position: absolute;
    left: -207px;
    top: -32px;
}

.hero__icon:last-child {
    top: 242px;
    left: 53px;
    rotate: 180deg;
}

/*^^^^^^^ ======Brand====== ^^^^^^^*/
.brand {
    margin-top: 42px;
    font-family: var(--main-font);
}

.brand__inner {
    padding: 76px 121px;
    border-radius: 100.5px;
    background: #e2eddf;
}

.brand__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand__item {
    display: flex;
    align-items: center;
    transition: 0.25s;
}

.brand__item:hover {
    scale: 1.1;
}

.brand__link--google {
    color: var(--primary-color-2nd);
    font-size: 3.1rem;
    font-weight: 500;
}

.brand__link--slack {
    margin-left: 5px;
    color: var(--primary-color-2nd);
    font-size: 3.2rem;
    font-weight: 600;
}

.brand__link--agworld {
    margin-left: 11px;
    color: #163c35;
    font-size: 2.6rem;
    font-weight: 400;
}

.brand__link--rioTinto {
    color: var(--primary-color-2nd);
    font-family: "Sonsie One";
    font-size: 2.3rem;
}

.brand__link--heroku {
    margin-left: 14px;
    color: var(--primary-color-2nd);
    font-size: 1.9rem;
    font-weight: 600;
    letter-spacing: 1.995px;
}

/*^^^^^^^ ======Services====== ^^^^^^^*/
.services {
    margin-top: 106px;
}

.service__sub {
    margin-left: 53px;
    position: relative;
    color: var(--primary-color-1st);
    font-family: var(--sub-font);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.63;
}

.service__sub::before {
    position: absolute;
    top: 9px;
    left: -52px;
    content: "";
    display: inline-block;
    width: 25px;
    height: 1px;
    background: var(--primary-color-1st);
}

.service__row {
    display: flex;
    justify-content: space-between;
}

.service__heading {
    margin-top: 20px;
    position: relative;
    max-width: 520px;
    color: var(--primary-color-1st);
    font-family: var(--sub-font);
    font-size: 4.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.24;
}

.service__heading::after {
    position: absolute;
    top: 80px;
    left: 359px;
    content: "";
    display: inline-block;
    width: 66px;
    height: 2px;
    background: var(--primary-color-1st);
}

.service__control {
    display: flex;
    gap: 17px;
    align-items: flex-end;
    margin: 0 73px 9px 0;
}

.control__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background: #e2eddf;
    transition: 0.25s;
}

.control__btn:hover {
    background: var(--primary-color-2nd);
    color: #fff;
}

.service__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    margin-top: 76px;
}

.service-item__img {
    height: 318px;
    cursor: pointer;
    display: block;
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.service-item__info {
    padding: 24px 0;
    transition: 0.25s;
    border-radius: 0 0 20px 20px;
}

.service-item__heading {
    color: var(--primary-color-1st);
    font-size: 2.2rem;
    font-weight: 600;
}

.service-item__desc {
    margin-top: 18px;
    max-width: 268px;
    color: var(--desc-color);
    font-family: var(--sub-font);
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.71;
}

.service-item:hover .service-item__info {
    padding-left: 18px;
    background: #fff;
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
    transition: 0.25s;
}

/*^^^^^^^ ======About====== ^^^^^^^*/
.about {
    margin-top: 157px;
}

.about__body {
    display: flex;
    justify-content: space-between;
}

.about__media {
    position: relative;
}

.about__images {
    display: flex;
    gap: 21px;
    cursor: pointer;
    position: relative;
}

.about__img {
    position: relative;
    box-shadow: 0px 4px 234px 11px rgba(59, 137, 71, 0.25);
    object-fit: cover;
    width: 286px;
    height: 480px;
    border-radius: 210px;
    margin-top: 13px;
}

.about__img:nth-child(1) {
    margin-top: 90px;
}

.about__icon {
    position: absolute;
    left: 46px;
    top: -18px;
}

.about-block {
    position: absolute;
    bottom: 8px;
    right: -9px;
    padding: 19px 17px 11px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 7px 54px 0px rgba(154, 154, 154, 0.25);
}

.about-block__heading {
    color: var(--primary-color-1st);
    font-size: 1.4rem;
    font-weight: 600;
}

.about-block__desc {
    margin-top: 6px;
    color: #575d5e;
    font-size: 1rem;
}

.about-block__precent {
    display: inline-block;
    margin-top: 10px;
    color: var(--primary-color-1st);
    font-size: 1rem;
    font-weight: 500;
}

.about-valuemax {
    margin-top: 3px;
    width: 96px;
    height: 2px;
    border-radius: 10px;
    background: #eaeaea;
}

.about-valuenow {
    width: 40px;
    height: 2px;
    border-radius: 10px;
    background: #83a17d;
}

.about-block__status {
    margin-top: 3px;
    color: var(--primary-color-1st);
    font-size: 1rem;
    font-weight: 500;
    text-align: right;
}

.about-block--icon {
    border-radius: 50%;
}

.about-block__dot {
    margin-top: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 11px;
    height: 11px;
    background: #eaeaea;
    border-radius: 50%;
}

.about-team {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
}

.about-team__name {
    position: relative;
    color: var(--primary-color-1st);
    font-size: 1rem;
    font-weight: 500;
}

.about-team__img {
    object-fit: cover;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid #fff;
    transition: 0.5s;
    cursor: pointer;
}

.about-team__img:hover {
    scale: 1.1;
}

.about-team__img + .about-team__img {
    margin-left: -6px;
}

.about__content {
    font-family: var(--sub-font);
    width: 42.5%;
}

.about__sub {
    position: relative;
    color: var(--primary-color-1st);
    font-size: 1.6rem;
    font-weight: 500;
    margin-left: 46px;
}

.about__sub::before {
    position: absolute;
    left: -46px;
    top: 8px;
    content: "";
    display: inline-block;
    width: 25px;
    height: 1px;
    background: var(--primary-color-1st);
}

.about__heading {
    margin-top: 20px;
    color: var(--primary-color-1st);
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.24;
}

.about__desc {
    margin-top: 11px;
    color: #7d8188;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.63;
}

.about-info {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-top: 36px;
    padding-bottom: 20px;
    border-bottom: 1px solid #83a17d;
}

.about-info__percent {
    color: var(--primary-color-1st);
    font-size: 4.2rem;
    font-weight: 600;
}

.about-info__desc {
    max-width: 363px;
    color: #7d8188;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.71;
}

/*^^^^^^^ ======Process====== ^^^^^^^*/
.process {
    padding-top: 115px;
    font-family: var(--sub-font);
}

.process__sub {
    position: relative;
    color: var(--primary-color-1st);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.13;
    margin-left: 53px;
}

.process__sub::before {
    position: absolute;
    top: 8px;
    left: -46px;
    content: "";
    display: inline-block;
    width: 25px;
    height: 1px;
    background: var(--primary-color-1st);
}

.process__heading {
    position: relative;
    max-width: 477px;
    margin-top: 20px;
    color: var(--primary-color-1st);
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.24;
}

.process__heading::after {
    position: absolute;
    right: -9px;
    bottom: 18px;
    content: "";
    width: 66px;
    height: 2px;
    background: var(--primary-color-1st);
}

.process-item__number {
    color: var(--primary-color-2nd);
    font-size: 7.2rem;
    font-weight: 600;
    margin-right: 49px;
}

.process-item__heading {
    position: relative;
    color: var(--primary-color-1st);
    font-size: 2.2rem;
    font-weight: 600;
}

.process-item__desc {
    max-width: 572px;
    color: #7d8188;
    font-family: var(--main-font);
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56;
    margin-left: auto;
}

.process-item__img {
    display: block;
    object-fit: cover;
    width: 450px;
    height: 444px;
}

.process__list {
    display: grid;
    grid-auto-rows: 185px;
    margin-top: 81px;
}

.process-item {
    position: relative;
    padding: 55px 20px 76px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #83a17d;
    transition: 0.25s;
}

.process-item:hover {
    border-radius: 33px;
    background: #e2eddf;
    padding-left: 30px;
    border: none;
}

.process-item:hover .process-item__heading::after {
    position: absolute;
    left: 3px;
    top: 40px;
    display: inline-block;
    content: "Learn More";
    color: #575d5e;
    font-size: 1.8rem;
    text-decoration: underline;
    cursor: pointer;
    font-weight: 400;
}

.process-item__thumb {
    position: absolute;
    right: 92px;
    bottom: 0;
}

/*^^^^^^^ ======Project====== ^^^^^^^*/
.project {
    margin-top: 74px;
    padding: 116px 0 63px;
    background: var(--primary-color-2nd);
}

.project__top {
    display: flex;
    align-items: center;
}

.project__heading {
    position: relative;
    max-width: 457px;
    color: #e7f9f9;
    font-family: var(--sub-font);
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.24;
}

.project__heading::after {
    position: absolute;
    bottom: 20px;
    left: 294px;
    content: "";
    display: inline-block;
    background: #83a17d;
    width: 66px;
    height: 2px;
}

.project-content {
    margin-left: 93px;
    width: 530px;
}

.project-content__desc {
    margin-top: 11px;
    color: #6a8383;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56;
}

.project-cta {
    display: flex;
    align-items: center;
    margin-top: 13px;
}

.project__link {
    display: inline-block;
    margin-right: 26px;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 500;
}

.project-cta:hover .project__link {
    color: #83a17d;
}

.project__media {
    position: relative;
    margin-top: 65px;
}

.project__img {
    display: block;
    object-fit: cover;
    width: 100%;
    border-radius: 22px;
}

.project__play {
    position: absolute;
    left: 511px;
    top: 213px;
    width: 118px;
    height: 118px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.7);
    outline: none;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.25s;
}

.project__play:hover {
    background: #80a07b;
}

.project__icon {
    position: absolute;
    right: -51px;
    bottom: 238px;
}

.project__icon:last-child {
    top: -70px;
}

/*^^^^^^^ ======Features====== ^^^^^^^*/
.features {
    margin-top: 140px;
    font-family: var(--sub-font);
}

.features__heading {
    margin: 0 auto;
    max-width: 520px;
    color: var(--main-font);
    text-align: center;
    font-size: 4.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.24;
}

.features__desc {
    margin-top: 20px;
    margin: 20px auto 0px;
    max-width: 547px;
    color: #7d8188;
    text-align: center;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.63;
}

.features__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 45px;
    margin-top: 103px;
}

.features-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 350px;
    height: 362px;
    border-radius: 160px;
    border: 1.5px solid #cecece;
    transition: 0.25s;
    cursor: pointer;
}

.features-item:hover {
    background: #fff;
    box-shadow: 0px 36px 100px 0px rgba(111, 120, 111, 0.2);
    transform: translateY(-59px);
    border: none;
}

.feature-item__heading {
    color: var(--primary-color-1st);
    margin-top: 26px;
    font-size: 2rem;
    font-weight: 600;
}

.feature-item__desc:first-child {
    max-width: 286px;
}

.feature-item__desc {
    margin-top: 12px;
    max-width: 278px;
    color: #7d8188;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.72;
}

/*^^^^^^^ ======Blog====== ^^^^^^^*/
.blog {
    margin-top: 184px;
    font-family: var(--sub-font);
}

.blog__sub {
    position: relative;
    margin-left: 41px;
    color: var(--primary-color-1st);
    font-size: 1.6rem;
    font-weight: 500;
}

.blog__sub::before {
    position: absolute;
    left: -41px;
    top: 7px;
    width: 25px;
    height: 1px;
    background: var(--primary-color-1st);
    content: "";
    display: inline-block;
}

.blog__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blog__heading {
    position: relative;
    max-width: 520px;
    color: var(--primary-color-1st);
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.24;
    margin-top: 10px;
}

.blog__heading::after {
    position: absolute;
    bottom: 18px;
    right: -50px;
    content: "";
    display: inline-block;
    width: 82px;
    height: 3px;
    background: var(--primary-color-1st);
}

.blog__desc {
    max-width: 409px;
    color: #7d8188;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.63;
}

.blog__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    margin-top: 90px;
}

.blog-item__img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 317px;
    border-radius: 40px 40px 0px 0px;
    cursor: pointer;
}

.blog-item__info {
    padding: 26px 14px 12px 0;
    transition: 0.25s;
}

.blog-item__btn {
    display: inline-block;
    min-width: 107px;
    height: 26px;
    border-radius: 20px;
    background: #e2eddf;
    padding: 7px 0;
    text-align: center;
    color: #000;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2;
}

.blog-item:hover .blog-item__info {
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 0px 0px 20px 20px;
    background: #fff;
    box-shadow: 0px 12px 74px 0px rgba(91, 91, 91, 0.25);
}

.blog-item__btn:hover {
    background: var(--primary-color-2nd);
    color: #fff;
}

.blog-item__heading {
    margin-top: 13px;
    width: 295px;
    height: 90px;
    color: var(--primary-color-2nd);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.68;
}

.blog-item__line {
    margin-top: 38px;
    border-bottom: 1px solid #c4c4c4;
}

.blog-item__date {
    margin-top: 16px;
    color: #575d5e;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2;
    text-align: right;
}

/*^^^^^^^ ======Footer====== ^^^^^^^*/
.footer {
    margin-top: 102px;
    background: var(--primary-color-2nd);
}

.footer__row {
    display: flex;
    justify-content: space-between;
}

.footer__heading {
    margin-top: 72px;
    color: #fff;
    font-family: var(--sub-font);
    font-size: 3.2rem;
    font-weight: 500;
}

.footer-form {
    margin-top: 25px;
    border-bottom: 1px solid #6a8383;
    padding-bottom: 32px;
    width: 354px;
}

.footer-form__input {
    border: none;
    outline: none;
    color: #6a8383;
    background: transparent;
    font-family: var(--sub-font);
    font-size: 2.2rem;
    font-weight: 600;
}

.footer-form__submit {
    margin-top: 10px;
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
    color: #c4c4c4;
    transition: 0.25s;
}

.footer-form__submit:hover {
    color: #a75325;
}

.footer__social {
    display: flex;
    column-gap: 22px;
    margin-top: 47px;
}

.footer__social-btn {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #265252;
    transition: 0.25s;
}

.footer__social-btn:hover {
    background: #a75325;
    border-color: #a75325;
}

.footer__right {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 50px;
    margin-top: 72px;
    font-family: var(--main-font);
}

.footer__right-heading {
    color: #fff;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56;
}

.footer__list {
    margin-top: 6px;
}

.footer__link {
    color: #6a8383;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.25;
    transition: 0.25s;
}

.footer__link:hover {
    color: #ccc;
    text-decoration: underline;
}

.footer__line {
    margin-top: 45px;
    height: 1px;
    background: linear-gradient(
        90deg,
        #143c3c 2.28%,
        #295a5a 55.65%,
        rgba(38, 82, 82, 0) 102.06%
    );
}

.footer__copyright {
    padding: 25px 0 25px;
}

.footer__copyright-text {
    color: #aab3ba;
    text-align: center;
    font-size: 1.6rem;
    line-height: 1.86;
}
